<DisplayIf Condition=@HasContent>
    <ChildContent>

        <div class="markdown-container">
            @MarkupContent
        </div>

    </ChildContent>
    <AlternateContent>

        <LoadSpinner />

    </AlternateContent>
</DisplayIf>
