<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Cyril Portet</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="HideNavMenu">
    <nav class="flex-column">

        <NavMenuItem HRef="/" Label="Bienvenue" IconName="buildings" />

        <NavMenuItem HRef="resume" Label="Mon CV" IconName="card-heading" />

    </nav>
</div>


